{# Core Fabric Configuration #}
{# VRF Instances #}
{% include 'eos/vrf-instances.j2' %}
{# Ethernet Interfaces #}
{% include 'eos/ethernet-interfaces.j2' %}
{# IP Routing for Service VRFs #}
{% include 'eos/ip-routing.j2' %}
{# Router BGP #}
{% include 'eos/router-bgp.j2' %}